{% extends 'base.html' %}
{% block title %} Singlecar {% endblock %}
{% load static %}
 
{% block content %}

<div class="content">
    <div class="site-section">
        <div class="container">
            <div class="row blog-content">                
                    <div class="col-md-4">
                        
                        <form action="{% url 'contact' %}" method="POST">
                          {% csrf_token %}
                          {% if user.is_authenticated %}
                          <input type="hidden" name="user_id" value="{{ user.id }}" />
                          {% else %}
                          <input type="hidden" name="user_id" value="0" />
                          {% endif %}
                          <input type="hidden" name="car_id" value="{{ car.id }}" />
                          <input type="hidden" name="car_name" value="{{ car.model}}" />
                          <input type="hidden" name="car_manager" value="{{ car.carmanager }}" />
                          <div class="form-group">
                              <label>Name</label>
                              <input type="text" name="name" class="form-control" {% if user.is_authenticated %}
                                  value="{{user.first_name}}" {% endif %} required>
                          </div>
                          <div class="form-group">
                              <label>Phone</label>
                              <input type="text" name="phone" class="form-control">
                          </div>
                          <div class="form-group">
                              <label for="exampleFormControlInput1">Email address</label>
                              <input type="email" name="email" class="form-control" {% if user.is_authenticated %}
                                  value="{{user.email}}" {% endif %} required>
                          </div>
                          <div class="form-group">
                              <label for="exampleFormControlTextarea1">Example textarea</label>
                              <textarea class="form-control" name="text" id="exampleFormControlTextarea1"
                                  rows="3"></textarea>
                          </div>
                          <div class="d-flex action">
                              <button type="submit" class="btn btn-primary">Rent Now</button>
                          </div>
                      </form>

                      <div class="sidebar-box">
                        <img src="{{ singlemanager.photo.url }}" alt="Free Website Template by Free-Template.co" class="img-fluid mb-4 w-50 rounded-circle">
                        <h3 class="text-black">Position: {{singlemanager.position}}</h3>
                        <p>{{singlemanager.description}}</p>
                        <p><span class="field_name">Mobile phone: </span>{{singlemanager.phone1}}</p>
                        <p><span class="field_name">Work phone: </span>{{singlemanager.phone1}}</p>
                        <p><span class="field_name">Home phone: </span>{{singlemanager.phone1}}</p>
                        <p><span class="field_name">Telegram: </span>{{singlemanager.telegram}}</p>
                        <p><a href="#" class="btn btn-primary btn-md text-white">Contact</a></p>
                    </div>
                    </div>
                    <div class="col-md-8 mb-4">
                        <div class="item-1">
                            <a href="#"><img src="{{ car.photo_main.url }}" alt="{{car.model}}"
                                    class="carlist carlist-single mx-auto d-block"></a>
                            <div class="item-1-contents">
                                <div class="text-center">
                                    <h3><a href="#">{{car.vendor}} {{car.model}}</a></h3>
                                    <div class="rating">
                                      {% if car.rating == 1 %}
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                      {% elif car.rating == 2 %}
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                      {% elif car.rating == 3 %}
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                      {% elif car.rating == 4 %}
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                      {% elif car.rating == 5 %}
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                        <span class="icon-star text-warning"><i class="fas fa-star"></i></span>
                                      {% endif %}
                                    </div>
                                    <div class="rent-price"><span>{{car.price}}/</span>day</div>
                                </div>
                                <ul class="specs">
                                    <li>
                                        <span>Doors</span>
                                        <span class="spec">{{car.doors}}</span>
                                    </li>
                                    <li>
                                        <span>Seats</span>
                                        <span class="spec">{{car.seats}}</span>
                                    </li>
                                    <li>
                                        <span>Transmission</span>
                                        <span class="spec">{{car.transmission}}</span>
                                    </li>
                                    <li>
                                        <span>Minium age</span>
                                        <span class="spec">{{car.minimum_age}} years</span>
                                    </li>
                                    <li>
                                        <span>Engine</span>
                                        <span class="spec">{{car.engine}}</span>
                                    </li>
                                    <li>
                                        <span>Fuel count</span>
                                        <span class="spec">{{car.fuel_count}}</span>
                                    </li>
                                    <li>
                                        <span>Color</span>
                                        <span class="spec">{{car.color}}</span>
                                    </li>
                                </ul>   
                            </div>
                        </div>
                    </div>               
            </div>
            <div class="row">
                <div class="col-lg-3">
                  <h4>Our Offer: </h4>
                  <h3>{{ car.vendor }} {{ car.model }}</h3>
                  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum maxime
                    neque!</p>
                  <p>
                    <a href="#" class="btn btn-primary custom-prev">Previous</a>
                    <span class="mx-2">/</span>
                    <a href="#" class="btn btn-primary custom-next">Next</a>
                  </p>
                </div>
                <div class="col-lg-9">
                  <div class="nonloop-block-13 owl-carousel">
                    {% if car %}                    
                    <div class="item-1">
                      <img src="{{ car.photo_main.url }}" alt="{{ car.model }}" class="img-fluid carlist">
                      
                    </div> 
                    <div class="item-1">
                        <img src="{{ car.photo_1.url }}" alt="{{ car.model }}" class="img-fluid carlist">
                        
                      </div>
                      <div class="item-1">
                        <img src="{{ car.photo_2.url }}" alt="{{ car.model }}" class="img-fluid carlist">
                        
                      </div>     
                      <div class="item-1">
                        <img src="{{ car.photo_3.url }}" alt="{{ car.model }}" class="img-fluid carlist">
                                                                                     
                    {% else %}
                    <div class="col-md-12">
                      <p>No Cars Avialable</p>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class=""> 
                    <div class=" row justify-content-center mt-3 action">
                      <a href="{% url 'contact' %}" class="btn btn-primary">Rent Now</a>
                    </div> 
                  </div>                                 
                    
                </div>
              </div>
        </div>
    </div>
 </div>
 
  



            
                
    
{% endblock %}