{% extends 'base.html' %}
{% load static %}
 
{% block content %}
<!-- singlecar css -->
<link rel="stylesheet" href = "{% static 'css/singlecar_style.css' %}"/>
 {% include "partials/_navbar.html" %} 


<div class="content">
    <div class="site-section">
        <div class="container">
            <div class="row blog-content">                
                    <div class="col-md-4">
                        <div class="sidebar-box">
                            <img src="{{ singlemanager.photo.url }}" alt="Free Website Template by Free-Template.co" class="img-fluid mb-4 w-50 rounded-circle">
                            <h3 class="text-black">About The Author</h3>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                            <p><a href="#" class="btn btn-primary btn-md text-white">Read More</a></p>
                        </div>
                    </div>
                    <div class="col-md-8 mb-4">
                        <div class="item-1">
                            <a href="#"><img src="{{ car.photo_main.url }}" alt="{{car.model}}"
                                    class="carlist mx-auto d-block"></a>
                            <div class="item-1-contents">
                                <div class="text-center">
                                    <h3><a href="#">{{car.vendor}} {{car.model}}</a></h3>
                                    <div class="rating">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                    </div>
                                    <div class="rent-price"><span>{{car.price}}/</span>day</div>
                                </div>
                                <ul class="specs">
                                    <li>
                                        <span>Doors</span>
                                        <span class="spec">{{car.doors}}</span>
                                    </li>
                                    <li>
                                        <span>Seats</span>
                                        <span class="spec">{{car.seats}}</span>
                                    </li>
                                    <li>
                                        <span>Transmission</span>
                                        <span class="spec">{{car.transmission}}</span>
                                    </li>
                                    <li>
                                        <span>Minium age</span>
                                        <span class="spec">{{car.minimum_age}} years</span>
                                    </li>
                                    <li>
                                        <span>Engine</span>
                                        <span class="spec">{{car.engine}}</span>
                                    </li>
                                    <li>
                                        <span>Fuel count</span>
                                        <span class="spec">{{car.fuel_count}}</span>
                                    </li>
                                    <li>
                                        <span>Color</span>
                                        <span class="spec">{{car.color}}</span>
                                    </li>
                                </ul>
                                <div class="d-flex action">
                                    <a href="{% url 'contact' %}" class="btn btn-primary">Rent Now</a>
                                </div>
                                <div class="d-flex action">
                                    <a href="{% url 'contact' %}" class="btn btn-primary">Test</a>
                                </div>
                            </div>
                        </div>
                    </div>               
            </div>
        </div>
    </div>
 </div>
 
  



            
                
    
{% endblock %}