{% extends "base.html" %}
{% block title %} Single {% endblock %}
{% load static %}
{% block content %}
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 blog-content">
          <div class="item-1">
            <a href="#"><img src="{{ car.photo_main.url }}" alt="{{car.model}}"
                    class="carlist carlist-single mx-auto d-block"></a>
            <div class="item-1-contents">
                <div class="text-center">
                    <h3><a href="#">{{car.vendor}} {{car.model}}</a></h3>
                    <div class="rent-price"><span>{{car.price}}/</span>day</div>
                  </div>                    
              </div>
          </div>
          
          <div class="pt-5">
            <h3 class="mb-5">x6 Comments</h3>
            <ul class="comment-list">

              <li class="comment">
                <div class="vcard bio">
                  <img src="" alt="Car">
                </div>
                <div class="comment-body">
                  <h3>xJacob Smith</h3>
                  <div class="meta">xJanuary 9, 2018 at 2:21pm</div>
                  <p>xWhen she reached the fitontinued her way.</p>
                  <p><a href="#" class="reply">xReply</a></p>
                </div>
              </li>             
            </ul>
          </div>
        </div>

            <!-- END comment-list -->   
        <div class="col-md-4 sidebar">
          <img src="{{ singlemanager.photo.url }}" alt="manager.photo" class="img-fluid mb-4 w-50 rounded-circle">
          <h3 class="text-black">Position: {{singlemanager.position}}</h3>
          <p>{{singlemanager.description}}</p>
          <p><span class="field_name">Mobile phone: </span>{{singlemanager.phone1}}</p>
          <p><span class="field_name">Work phone: </span>{{singlemanager.phone1}}</p>
          <p><span class="field_name">Home phone: </span>{{singlemanager.phone1}}</p>
          <p><span class="field_name">Telegram: </span>{{singlemanager.telegram}}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}